jxy_t

/*  advertisement   */
section.advertisement > div.container > div.row  div.advertisement_item{height: 120px;background-color: #F6E9D8;margin:10px 0;display: none;}
div.advertisement_area {height:50px;background-color: #F6E9D8;padding:0;margin:-8px 0 12px 0;display: none;}
/** content **/
div.show_main > div > div > div > h3   {font-size: 16px;margin:10px 0;width:200px; height:14px;line-height: 1em;color: #9e2f50;font-weight: 600;}
div.show_main > div > div > div > h5   {font-size: 14px;margin:10px 0;height:14px;line-height: 1em;color: #737373;}
div.show_main > div > h4   {font-size: 15px;margin:10px 0;height:14px;line-height: 1em;color: #9e2f50;text-align: right;margin-right: 20px;}
div.show_main > div > h2   {font-size: 18px;margin:10px 0;font-weight: 600;color:#333;-webkit-box-orient: vertical;   overflow: hidden;display: -webkit-box;   -webkit-line-clamp: 3;
}
div.show_main > div > p    {color:#333;text-indent: 20px;font-size:15px;max-height: 98px;overflow: hidden;padding-bottom: 87px;-webkit-box-orient: vertical;   overflow: hidden;display: -webkit-box;   -webkit-line-clamp: 3;
}
div.show_main > div > a    {font-size: 14px; color:#9e2f50;text-decoration: none;padding: 0 10px 2px;}
div.show_main > div > a:hover    {border-radius:4px;-moz-box-shadow:2px 2px 0px #9e2f50, -2px -2px 0px #9e2f50; -webkit-box-shadow:2px 2px 0px #9e2f50, -2px -2px 0px #9e2f50; box-shadow:2px 2px 0px #9e2f50, -2px -2px 0px #9e2f50;}
div.show_unmain_title{margin-top:10px;position: relative;}
div.show_unmain_title > h2   {font-size: 19px;margin: 6px 0;font-weight: 700;}
div.show_unmain_title > span {font-size: 0.9em;margin: 6px 0;font-weight: 700;position: absolute;right: 10px;bottom: 0px;}
div.show_unmain > h3   {font-size: 18px;margin: 8px 0;font-weight: 700;text-indent: 10px;}
div.show_unmain > p    {height:75px;overflow:hidden;font-size: 0.9em;margin: 0;text-indent: 10px;}
div.show_unmain > span {font-size: 18px;margin: 10px 0 0 0;font-weight: 700;}
div.caption > h3   {float: left; font-size: 15px;margin:-1px 0 7px 0;line-height: 1em;color: #9e2f50; width:180px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
div.caption > span {float: right;font-size: 14px;margin:-1px 0;line-height: 1em;color: #737373;}
div.caption > h2   {font-size: 16px;font-weight: bold;margin:0 0 8px 0;text-align: center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div.caption > p    {font-size:13px; text-indent: 28px;min-height:60px;max-height: 83px;overflow:hidden;line-height: 20px;}
div.caption > h4   {float: right;font-size: 14px;margin:0;color:#9e2f50;}
div.thumbnail {border-color:#f5d7d7;border-radius: 2px;background-color: rgba(255,255,255,0.20);-webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, .075);box-shadow: 0 1px 2px rgba(255, 255, 255, .075);}
a.list-group-item:last-child{border-radius: 0px;}
h2.module_title         {font-size: 1.4em;font-weight:blod; margin:14px 0 4px 0;}
div.module_line    		{border-top: dashed 1px rgb(245,221,223);margin:0 0 14px 0;}
div.module_line_cw 		{border-top: solid 1px rgb(245,221,223);margin:14px 0 14px 0;  width: 90%;}
div.module_line_cw_db   {border-top: double 3px rgb(245,221,223);margin:0 0 10px 0;  width: 90%;}
.logo_xsk{font-size: 20px; color: white;font-weight: bold;text-align: center;line-height: 3em;}
.head_title{text-align: center;color: white;font-size: 23px;font-family: '微软雅黑';font-weight: bold;padding-top: 22px;text-indent: 1em;}

body.modal-open {

overflow-y: auto !important;

padding-right: 0 !important;
}

.cw_float_left{float: left;}
.cw_float_right{float: right;margin-right: 10px;}
.list-group > a{background-color: #F6E9D8;border-left:none;border-right:none;font-size:0.9em;padding: 8px;}
.list-group > a.cw_black{background-color: #e9decf;color:#000;font-size: 1.2em;border-radius: 0;text-align: center;}

.cw_list_height	{}
.cw_list_item_height{min-height: 42px;max-height: 56px;overflow:hidden;text-overflow:ellipsis;line-height: 1.74em;}

.cw_unborder_radiu{border-radius: 0px;}
.cw_sm_line{border-top:1px dashed #fff;}
@media (max-width: 767px){/*xs*/
	.cw_sm_line{border-color: #000;margin-top:10px;}
}


.col-c-xx{}
@media (min-width: 768px) {/*sm*/
	.col-c-xx{}
}
@media (min-width: 872px) {/*ds*/
	.col-c-xx{}
}
@media (min-width: 992px) {/*md*/
	.col-c-xx{}
}
@media (min-width: 1200px) {/*lg*/  
	.col-c-xx{}
}









